@import "colors";

.main {
  height: max-content;
  width: 100%;
  background-color: $primary_dark_th1;
  overflow: auto;
  padding: 0 5rem;
}
@media only screen and (max-device-width: 768px) {
  .main {
    padding: 0 1rem;
  }
}
