@import "colors";

.introduce {
  display: block;
  height: calc(100vh - 4.5rem);
  width: 100%;
  color: $primary_white_th1;
  padding-top: 7.5rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 5rem;
  span {
    color: $primary_purple;
  }
  .cursor {
    animation: blink 1s step-start infinite;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
