@import "colors";

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.list_icon {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  animation: fadeDown 0.5s ease-in-out;
  animation-fill-mode: backwards;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    img {
      height: 4.5rem;
      width: auto;
    }
    h4 {
      color: $dark_th3;
    }
  }
}
#DESIGN {
  justify-content: center;
  left: 50%;
  translate: -50%;
}
#UTILITI {
  justify-content: flex-end;
  right: 0;
}
.hidden {
  display: none;
}
